@import "light.css";
@import "dark.css" screen and (prefers-color-scheme: dark);

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    color: var(--primary-fg-color);
    background-color: var(--primary-bg-color);
}

article {
    line-height: 1.6;
    margin: 40px auto;
    padding: 0 10px;
    max-width: 1050px;
    color: var(--primary-fg-color);
    background-color: var(--primary-bg-color);
}

h1 {
    font-size: 3em;
}

a {
    color: inherit;
}

footer {
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 1em;
    color: inherit;
}

iframe {
    width: 100%;
    height: 90vh;
    border: 0;
}

summary {
    cursor: pointer;
}

img {
    max-width: 90%;
}

/* PRESENTATIONS TABLE */
.tablecontainer {
    max-width: 100%;
    overflow: auto;
}
table {
    border-collapse: collapse;
}
thead {
    color: var(--secondary-fg-color);
    background-color: var(--secondary-bg-color);
}
th {
    padding: 1em;
}
tr, td {
    padding: 1em;
}
tbody > tr:hover, tbody > tr:target {
    color: var(--selected-item-fg-color);
    background-color: var(--selected-item-bg-color);
}

/* NAVIGATION */
nav {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: var(--secondary-fg-color);
    background-color: var(--secondary-bg-color);
}

nav:first-child() {
    flex-grow: 2;
}

.logo {
    display: inline-flex;
}

.logo img {
    max-height: 3em;
    margin: 0;
    margin-right: 1em;
}
.logo h1 {
    margin: 0;
}
.logo .logo-detail {
    margin: 0;
    margin-left: -2em;
}

nav a {
    color: var(--secondary-fg-color);
    text-decoration: none;
    font-size: 1.2em;
    padding: 1em;
    font-weight: 800;
}

/* ORGTEAM CARDS */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    flex: 1;
    padding: 1em;
}

.card > .card-details {
    opacity: 0;
}
/*
.card:hover > .card-details {
    opacity: 1;
    transition: 0.3s;
}
.card:hover > .card-info {
    opacity: 0;
    display: none;
    transition: 0.3s;
}
*/
.card img {
    /*max-width: 60%;*/
    display: none;
}


div.alertBox {
    padding: 1em;
    margin: 1em;
    font-size: 1.2em;
}
div.alertBox span {
    float: right;
    font-size: 0.8em;
}
div.red {
    background-color: red;
    color: white;
}
div.green {
    background-color: green;
    color: white;
}
