:root {
    --primary-fg-color: #CCC;
    --primary-bg-color: #222;
    --secondary-fg-color: #EEE;
    --secondary-bg-color: #912ca3;
    --selected-item-fg-color: #222;
    --selected-item-bg-color: #fbf0ff;
}
