:root {
    --primary-fg-color: #FFF;
    --primary-bg-color: #1b1b1b;
    --secondary-fg-color: #FFF;
    --secondary-bg-color: #6a1b9a;
    --selected-item-fg-color: #9c4dcc;
    --selected-item-bg-color: #424242;
    --dark-text-color: #38006b;
}
