:root {
    --primary-fg-color: #444;
    --primary-bg-color: #FFF;
    --secondary-fg-color: #CCC;
    --secondary-bg-color: #912ca3;
    --selected-item-fg-color: #EEE;
    --selected-item-bg-color: #800ca3;
}
