<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Accepted lecture</title>
</head>
<body>
    <p>    
    Ahoj, &lt;&lt;<span style="color: red">JMÉNO</span>&gt;&gt;
    </p>
    děkujeme za přihlášení přednášky &lt;&lt;<span style="color: red">PŘEDNÁŠKA</span>&gt;&gt;.
<p>
S radostí ti oznamujeme, že tvoje přednáška byla schválena. Od teď se tedy můžeš těšit věčné slávě na webu PŘeNoci.
</p>
<p>
Budeme očekávat tvoji přednášku někdy 10. až 11. října, tedy ze soboty na neděli. Prozatímní časový rozvrh počítá se začátkem kolem páté hodiny večerní a koncem v neděli ráno. Přesný čas přednášky ještě upřesníme jakmile vytvoříme harmonogram.
</p>
<p>
Na jakékoli změny tě upozorníme.
</p>
<p>
Přejeme hodně štěstí!
</p>
<pre>
-- 
Organizátorský tým PŘeNoci

<a href="https://prenoc.cz/">https://prenoc.cz</a>
<a href="https://facebook.com/prenoc">FB PŘeNoci</a> | <a href="https://www.facebook.com/events/739601676881461/">Událost PŘeNoc na FB</a>
</pre>
</body>
</html>
